<!-- 
######################################################################
# Filename : DiaryMain.html
# Description : 다이어리 메인 화면
# author : KSH
# since : 2024.06.05
######################################################################
-->
<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content" class="container">
		<h1>다이어리 목록</h1>
		<form class="row justify-content-between align-items-center" id="searchForm">
			<div class="col-6 row">
				<div class="col-5 .col-sm-1 mb-1">
					<label th:for="diaryTitle">제목 : </label>
					<input type="text" id="diaryTitle" name="diaryTitle" />
				</div>
				<div class="col-5 .col-sm-1 mb-1">
					<label th:for="diaryContent">내용 : </labe>
					<input type="text" id="diaryContent" name="diaryContent" />
				</div>
			</div>
			<div class="col-2 row justify-content-end">
				<div class="col-5 .col-sm-1 mb-1">
					<input type="button" class="btn btn-primary" id="searchBtn" name="searchBtn" value="조회"/>				
				</div>
			</div>
		</form>
		<div class="album py-5 bg-light">
	    	<div class="container">
	    		<div id="diaryMain" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
	    		</div>
	  		</div>
  		</div>
		<script th:src="@{/webjars/requirejs/2.3.6/require.min.js}" data-main="/js/page/diary/DiaryMain"></script>
	</div>
</body>
</html>
