<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>diary main</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:inline="javascript"></script>
</head>
<body>
	<div layout:fragment="content">
		<h1>main</h1>
		<div>diary 목록</div>
		<form>
			<input type="text" id="diaryId" name="diaryId" />
		    <input type="text" id="diaryTitle" name="diaryTitle" />
		    <input type="text" id="diaryContent" name="diaryContent" /> </br >
			<input type="submit" id="searchBtn" value="조회"/>
		</form>
		<div th:unless="${#lists.isEmpty(diaryList)}">
			<p>목록이 없습니다.</p>
		</div>
		<div th:if="${!#lists.isEmpty(diaryList)}">
			<table id="diaryTable">
			<thead>
				<tr>
					<th>Id</th>
				    <th>Title</th>
				    <th>Content</th>
				    <th>Modi User</th>
				    <th>Modi At</th>
				 </tr>
			</thead>
			<tbody>
				<tr th:each="diary : ${diaryList}">
				    <td th:text="${diary.diaryId}"></td>    
				    <td th:text="${diary.diaryTitle}"></td>
				    <td th:text="${diary.diaryContent}"></td>
				    <td th:text="${diary.modiUserId}"></td>
				    <td th:text="${diary.modiAt}"></td>
				</tr>
			</tbody>
			</table>
		</div>
	</div>
</body>
<script th:inline="javascript">
	$(function(){
		//Search btn click
		$("#searchBtn").click(function(){
			$.ajax({
				type:"get",
				url:"diary/getDiaryList",
				dataType: "json",
				data:JSON.stringify(param),
				success:function(diaryList){					
					$("#diaryTable").replaceWith(diaryList);
				}
			});	
		});			
	});        
</script>
</html>