<!-- 
######################################################################
# Filename : DiaryForm.html
# Description : 다이어리 등록 화면
# author : KSH
# since : 2024.06.05
######################################################################
-->
<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>다이어리 작성</h1>
			<form id="diaryRegForm">
				<div class="mb-3">
					<input type="hidden" class="form-control" id="diaryId" name="diaryId">
				</div>
				<div class="mb-3">
					<label for="diaryTitle" class="form-label">제목</label>
					<input type="text" class="form-control" id="diaryTitle" name="diaryTitle">
				</div>
				<div class="mb-3">
					<label for="diaryContent" class="form-label">내용</label>
					<textarea class="form-control" id="diaryContent" name="diaryContent" rows="3"></textarea>
				</div>
			</form>
			<button type="button" class="btn btn-primary" id="listBtn" name="listBtn">목록</button>
			<button type="button" class="btn btn-primary" id="regBtn" name="regBtn">등록</button>
			<button type="button" class="btn btn-primary visible" id="deleteBtn" name="deleteBtn">삭제</button>
		</div>
		<script th:inline="javascript">
			let diaryDto = [[${diaryDto}]] || {};
		</script>
		<script th:src="@{/webjars/requirejs/2.3.6/require.min.js}" data-main="/js/page/diary/DiaryForm"></script>
	</div>
</body>
</html>