<!-- 
######################################################################
# Filename : signupForm.html
# Description : 회원 등록 화면
# author : KSH
# since : 2024.07.20
######################################################################
-->
<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
	  
<body>
	<div layout:fragment="content">
		<div class="centerWrapper">
			<h1>회원가입</h1>
			<div class="w-25 p-3">
				<div class="mb-3">
					<label for="userId" class="form-label">사용자ID</label>
					<input type="text" id="userId" name="userId" class="form-control">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">비밀번호</label>
					<input type="password" id="password" name="password" class="form-control">
				</div>
				<div class="mb-3">
					<label for="userName" class="form-label">이름</label>
					<input type="text" id="userName" name="userName" class="form-control">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">이메일</label>
					<input type="email" id="email" name="email" class="form-control">
				</div>
				<button id="authBtn" name="authBtn" class="btn btn-primary">이메일 인증</button>
				<div class="mb-3" invisible>
					<label for="authCode" class="form-label">인증코드</label>
					<input type="text" id="authCode" name="authCode" class="form-control">
				</div>
				<button id="regBtn" name="regBtn" class="btn btn-primary" disabled>회원가입</button>
			</div>
		</div>
		<script th:inline="javascript">
			//let diaryDto = [[${diaryDto}]] || {};
		</script>
		<script th:src="@{/webjars/requirejs/2.3.6/require.min.js}" data-main="/js/page/user/SignupForm"></script>
	</div>
</body>
</html>