<!-- 
######################################################################
# Filename : signupForm.html
# Description : 회원 등록 화면
# author : KSH
# since : 2024.07.20
######################################################################
-->
<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<body>
	<div layout:fragment="content">
		<div class="container">
			<h1>회원가입</h1>
			<form th:action="@{/user/signup}" th:object="${userDto}" method="post">
				<div class="mb-3">
					<label for="userId" class="form-label">사용자ID</label>
					<input type="text" th:field="*{userId}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">비밀번호</label>
					<input type="password" th:field="*{password}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="passwordCheck" class="form-label">비밀번호 확인</label>
					<input type="password" class="form-control">
				</div>
				<div class="mb-3">
					<label for="userName" class="form-label">이름</label>
					<input type="text" th:field="*{userName}" class="form-control">
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">이메일</label>
					<input type="email" th:field="*{email}" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">회원가입</button>
			</form>
		</div>
	</div>
<script th:inline="javascript">
	//let diaryDto = [[${diaryDto}]] || {};
</script>
<script th:src="@{/webjars/requirejs/2.3.6/require.min.js}" data-main="/js/page/user/singupForm"></script>
</body>
</html>