<!-- Footer Start -->
<footer th:fragment="footerFragment" class="container-fluid bg-dark text-body footer mt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container-fluid copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a href="#">Family Diary</a>, To be Positive
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->



