<footer th:fragment="footerFragment" class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
	<div class="col-md-2 d-flex align-items-center">
    	<a class="text-muted" href="#" >
        	<img class="bi bi-github" th:src="@{/assets/icon/github.svg}"></img>
      	</a>
	    <span class="text-muted">© 2024 Family Diary, Inc</span>
    </div>
    <ul class="nav justify-content-end list-unstyled d-flex">
    	<li class="ms-3"><a class="text-muted" href="#"><img class="me-3 bi bi-github" th:src="@{/assets/icon/github.svg}"></img></a></li>
    	<li class="ms-3"><a class="text-muted" href="#"><img class="me-3 bi bi-envelope-at-fill" th:src="@{/assets/icon/envelope-at-fill.svg}"></img></a></li>
		<li class="ms-3"><a class="text-muted" href="#"><img class="bi bi-arrow-up" th:src="@{/assets/icon/arrow-up.svg}"></img></a></li>
    </ul>
	<div class="ms-3"><a class="btn btn-lg btn-primary btn-lg-square back-to-top" href="#" ><img class="bi bi-arrow-up" th:src="@{/assets/icon/arrow-up.svg}"></img></a></div>
</footer>

