<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>main</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
    <script th:inline="javascript"></script>
</head>
<body>
	<div layout:fragment="content">
		<h1>index</h1>
		<div>index페이지</div>
	</div>
</body>
</html>